# Node modules
node_modules/
.netlify/

# Local environment configuration
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS & Editor temp files
.DS_Store
.vscode/
.idea/
Thumbs.db
